:root {
    --color-red-light: #d67777;
    --color-red-dark: #c26565;
    --color-red-deep: #7b2e2e;
    --color-brown-dark: #302f0f;
    --color-brown-darker: #2a2a0a;
    --color-gray-light: #d9d9d9;
    --color-gray-darker: #c2c2c2;
    --color-disabled: #ccc;
    --font-primary: 'Lato', sans-serif;
    --font-button: 'Macondo', cursive;
  }

  body {
    font-family: var(--font-primary);
    margin: 20px;
    color: var(--color-red-light);
  }

#toggle-saved-lists {
  font-family: var(--font-button);
  color: var(--color-red-deep);
  margin-top: 0;
  font-weight:700;
}

#saved-lists {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.saved-list {
  background: white;
  border: 2px solid var(--color-red-light);
  border-radius: 10px;
  padding: 1rem;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  margin-bottom: 10px;
}

.saved-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.checked-off .item-text {
  text-decoration: line-through;
  opacity: 0.6;
}

.saved-list-header h2 {
  font-family: var(--font-button);
  color: var(--color-red-deep);
  margin: 0;
}

.delete-list {
  background-color: var(--color-red-light);
  color: white;
  border: none;
  padding: 0.4rem 0.7rem;
  font-family: var(--font-button);
  border-radius: 6px;
  cursor: pointer;
  font-size: smaller;
  font-weight: 300;
  width: 180px;
  
}

.delete-list:hover {
  background-color: var(--color-red-dark);
}

.saved-stores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.saved-store {
  flex: 1;
  min-width: 220px;
  /* border: 1px dashed var(--color-red-light); */
  border-radius: 6px;
  overflow-wrap: break-word; 
  max-width: 100%;
  box-sizing: border-box;
  background: var(--color-gray-light);
  padding: 8px;
}

.saved-store h3 {
  font-family: var(--font-button);
  color: var(--color-red-deep);
  margin-top: 0;
}

.saved-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
  margin-top: 0.5rem;
  overflow-wrap: break-word; 
  max-width: 100%;
  box-sizing: border-box;
}

.saved-item {
  
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word; 
  max-width: 100%;
  box-sizing: border-box;
}

.saved-item .item-text {
  color: var(--color-brown-darker);
}

.item-actions button {
  background: none;
  border: none;
  color: var(--color-red-deep);
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.3rem;
}

.item-actions button:hover {
  color: var(--color-red-dark);
}

h1 {    
  font-family: var(--font-button);
  font-size: 48px;
  } 
  
.blurred {
    filter: blur(5px);
    pointer-events: none; /* Prevent interaction with the background */    
    transition: filter 0.3s ease;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  #unsorted-items {
    background-color: white;
    background-image: 
        repeating-linear-gradient(
            white 0px,
            white 29px,
            #9ac6f9 30px
        ),
        linear-gradient(
            to left, 
            transparent 95%, 
            #ff4d4d 100%);
    background-size: 100% 30px;
    border: 2px solid var(--color-red-dark);
    padding: 1rem;
    min-height: 200px;
    margin-bottom: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
  }
  
  #unsorted-items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .store {
    flex: 1 1 30%;
    background-image: 
        repeating-linear-gradient(
            white 0px,
            white 29px,
            #9ac6f9 30px
        ),
        linear-gradient(
            to left, 
            transparent 95%, 
            #ff4d4d 100%);
    border: 2px dashed var(--color-red-light);
    padding: 1rem;
    border-radius: 10px;
    min-width: 250px;
    position: relative;
    background-color: #fefefe;
  }
  
.store-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.store .item {
  /* background-color: #fff;
  border: 1px solid #ddd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.05); */
}

.trash {
    float: right;
    cursor: pointer;
    flex-direction: column;
    font-size: 1.2em;
    margin-left: 0.5rem;
    margin-top: 4px;
}

.store-total {
    font-weight: bold;
    margin-top: 1rem;
    color: var(--color-brown-darker)
}

.store.drag-over {
    border-color: #66aaff;
    background-color: #f0f8ff;
}

.store h3 {
    font-family: var(--font-button);
    color: var(--color-red-deep);
    margin-top: 0;
  }
  
.store-items {
    margin-top: 10px;
  }
  
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .item-content {
    flex: 1;
  }

  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 15rem;
  }

.price-row {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    margin-top: 4px;
}  

#unsorted-items h3 {
    font-size: 36px;
    color: var(--color-brown-darker);
    font-family: var(--font-button);
    margin-bottom: 0;
}

#unsorted-items p {
    margin-top: 0.15rem;
    color: var(--color-brown-dark);
}

#list-title {
  width: 300px;
  height: 36px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--color-disabled);
  border-radius: 8px;
  box-sizing: border-box;
  font-family: var(--font-primary);
  margin-top: 20px;
  margin-bottom: 5px; /* reduce space below input */
}
  
  /* Modal styles */
  .modal {
    position: fixed;
    top: 20%;
    left: 35%;
    transform: translateX(-30%, -30%);
    width: 100vw;
    height: auto;
    /* background-color: rgba(48, 47, 15, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* box-shadow: none;
    overflow: auto; */
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-top: 0;
    text-align: center;
  }
  

  .modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: var(--font-primary);
  }
  
  .modal h2 {
    font-family: var(--font-button);
    color: var(--color-red-deep);
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  /* Buttons */
  button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    font-family: var(--font-button);
    text-align: center;
    width: 200px;
    gap: 10px;
    text-align: center;
  }
  
  /* button i {
    margin-right: 8px;
  } */
  
  /* Themed Buttons */
  .send-to-device {
    background-color: var(--color-red-light);
    color: white;
  }
  .send-to-device:hover {
    background-color: var(--color-red-dark);
  }
  
  .copy-to-clipboard {
    background-color: var(--color-brown-dark);
    color: white;
  }
  .copy-to-clipboard:hover {
    background-color: var(--color-brown-darker);
  }
  
  .save {
    background-color: var(--color-gray-light);
    color: black;
  }
  .save:hover {
    background-color: var(--color-gray-darker);
  }
  
  .add-button {
    background-color: var(--color-red-dark);
    color: white;
    padding: 0 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-button);
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    height: 36px;
  }

  .add-button:hover {
    background-color: var(--color-red-dark);
  }
  
  .auth-action-btn,
  .auth-signup-link {
    background-color: var(--color-red-light);
    color: white;
  }

  .auth-action-btn:hover,
  .auth-signup-link:hover {
    background-color: var(--color-red-dark);
  }

  .auth-toggle-link {
    text-decoration: underline;
    color: var(--color-red-light);
    cursor: pointer;
    display: block;
    text-align: right;
    width: 100%;
    margin-top: 10px;
    font-family: var(--font-button)
  }

  .auth-toggle-link:hover {
    color: var(--color-red-dark);
  }

  .auth-action-btn {
    background-color: var(--color-red-deep);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-family: var(--font-button);
    text-align: center !important;
    display: block;
    margin-top: 30px;
    margin-left: 0;
  }

  .auth-action-btn:hover {
    background-color: var(--color-red-dark);
  }

 Disabled buttons
 button:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
  } 
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    gap: 5px; /* optional, adds spacing between buttons */
    
  }

  #buttons {
    flex-direction: row;
    gap: 20px;
  }

.store-header, .store-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}



  /* Responsive stacking */
  @media (max-width: 600px) {
    button {
      display: block;
      width: 100%;
      margin: 10px 0;
      justify-content: center;
    }
  
    .container {
      flex-direction: column;
      gap: 10px;
    }
  
    .store {
      width: 100%;
    }
  }

  .input-row {
    display: flex;
    gap: 0.5rem;
    max-width: 700px;
    box-sizing: border-box;
    align-items: stretch;
  }

  #item-input {
    flex-grow: 1;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid var(--color-disabled);
    border-radius: 8px;
    box-sizing: border-box;
    font-family: var(--font-primary);
    height: 36px;
    margin-top: 30px;
  }